* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Menu Bar Styles */
/* .home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
    background: olive;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    /* border-bottom: none; */
    /* I need a higher z-index here because of the scroll-over effect. */
    /* z-index: 4;
} */

/* .home-menu .pure-menu-heading {
    color: black;
    font-weight: 600;
    font-size: 200%;
    text-align: left;
    font-family: 'Playfair Display';
}

.home-menu .pure-menu-link {
    color: white;
    text-align: right;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/* Page Layout*/
#layout {
    padding: 0;
}

/* Sidebar */
.pure-img-responsive {
    width: 220px;
    height: 100%;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.sidebar {
    background: maroon;
    color: #fff;
    position: relative;
    /* margin-top: 2em; */
}

.home {
    width: 20px;
    height: 20px;
}

html,
body {
    height: 100%;
    margin: 0;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#suggestedSearch {
    width: 10%;
    margin: 0;
}

/* .pure-button {
    color: white;
    border-radius: 4px;
    background: maroon;
    text-shadow: 0 1px 1px rgba(0,0,0, 0.2);
}

.searches {
    width: fit-content;
    display: block;
    margin: 50px 0; */
/* border: 2px solid maroon; */
/* background-color: maroon;
    text-transform: capitalize;
    color: white;
} */

.winepic {
    border-radius: 10px;
    margin: 2%;
    float: left;
    max-width: 60%;
    height: auto;
}

.content-subhead {
    padding-top: 2em;
    text-transform: uppercase;
    color: black;
    border-bottom: 1px solid black;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.content {
    font-family:sans-serif;
    margin-top: 2em;
    padding-top: 2em;
    padding: 2em 1em 0;
    position: relative;
}

.content-head {
    font-family: 'Playfair Display';
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: none;
    padding-top: 4em;
    text-align: center;
}

.footer a {
    color: black;
    font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

#dish-image {
    margin: 2% auto;
    border-radius: 10px;
    max-width: auto;
    height: auto;
    border: rgba(45, 59, 17, 0.185);
    border-style: solid;
    border-width: 5px;

}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 20%;
    }

    /* .header {
        margin: 80% 2em 0;
        text-align: left;
    } */

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }
}

/* API response styling */

.ajax-response-one {
    line-height: 1.5;
    margin: 2% auto;
    color: black;
    background: rgba(216, 230, 216, 0.4);
    border-radius: 25px;
    padding: 1%;
    width: fit-content;
    padding: 3%;
    border: rgba(212, 203, 203, 0.4);
    border-style: solid;
    border-width: 5px;
}

.grapename {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
}


.image-text-div {
    display: flex;
}

#wineDiv {
    font-size: larger;
    flex-basis: 1;
    margin: 2%;
}

a.pure-button.searches {
    width: 100%;
    padding: 2%;
    display: block;
    margin: 2% auto;
    /* border: 2px solid maroon; */
    background-color: maroon;
    text-transform: capitalize;
    color: whitesmoke;
    opacity: 90%;
    font-size: 130%;
    border-radius: 25px;
    text-align: center !important;
}

#searchBtn {
    color: whitesmoke;
    background-color: maroon;
    opacity: 85%;
    border-radius: 10px;
    text-transform: capitalize;
}

/* recipe.html styling here */

.pure-button {
    color: whitesmoke;
    background-color: maroon;
    opacity: 85%;
    border-radius: 10px;
    text-transform: capitalize;
    margin: 1%;
}

#recipe-card {
    line-height: 1.5;
    margin: 3% auto;
    color: black;
    background: rgba(216, 230, 216, 0.4);
    border-radius: 25px;
    padding: 1%;
    width: fit-content;
    max-width: 80%;
    padding: 3%;
    border: rgba(212, 203, 203, 0.4);
    border-style: solid;
    border-width: 5px;
}

#dish-title{
    text-align: center;
  }